################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MoviesAPI/obj
/MoviesAPI/bin
/MoviesData/obj
/MoviesData/bin
/MoviesModel/obj
/MoviesModel/bin
*.user
*.suo